<h1>Welcome to the To Do List Application</h1>
<ol>
  <li>
  <a href="/tasks/new">Add a new task</a>
  </li>
  <li>
  <a href="/tasks">View all current tasks</a>
  </li>
</ol>

<h1>Todo list!</h1>
<ol>
  <li>
  <a href="/categories">View Category List</a>
  </li>
  <li>
  <a href="/categories/new">Add a New Category</a>
  </li>
<ol>
